//====================================================================================================
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 50px 0px 20px 0px;
	z-index: 50;
	// .header__container
	&__container {
	}
	// .header__row
	&__row {
		display: flex;
		align-items: center;
	}
	// .header__logo
	&__logo {
		color: #E1E1E1;
		font-size: 52px;
		font-weight: 700;
		margin: 0px 18px 0px 0px;
		position: relative;
		z-index: 5;
	}
	// .header__descr
	&__descr {
		max-width: 200px;
		font-weight: 400;
		color: #5D5D5D;
		font-size: 14px;
		line-height: (16 / 14) * 100%;
		padding: 0px 0px 0px 25px;
		position: relative;
		&:before{
			content:'';
			height: 40px;
			width: 2px;
			background: #2ceee4;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(0, -50%);
		}
		@media (max-width:480px){
			display: none;
		}
	}
	&__line {
		@media (max-width:860px){
			flex: 1 1 auto;
		}
	}
	// .header__messagers
	&__messagers {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 -9px;
	}
	// .header__messager
	&__messager {
		width: 43px;
		height: 43px;
		display: flex;
		justify-content:center;
		align-items: center;
		border-radius: 50%;
		transition: all .3s ease 0s;
		margin: 0 9px;
	}
	.icon-v {
		background-color: #7B519D;
		@media (min-width: $md2+px) {
			&:hover{
				background-color: #6e3c97;
			}
		}
	}
	.icon-te {
		background-color: #5BBAF0;
		@media (min-width: $md2+px) {
			&:hover{
				background-color: #4499ca;
			}
		}
	}
	.icon-what {
		background-color: #2DD038;
		@media (min-width: $md2+px) {
			&:hover{
				background-color: #21a32a;
			}
		}

	}
	// .header__info
	&__info {
	}
	// .header__btn
	&__btn {
		height: 44px;
		width: 195px;
		margin: 0px 0px 0px 29px;
		@media (max-width:670px){
			display: none;
		}
	}
	&__burger {
		display: none;
		@media (max-width: $md2+px) {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			cursor: pointer;
			z-index: 5;
			margin: 0px 0px 0px 15px;
			span {
				transition: all 0.3s ease 0s;
				top: calc(50% - 1px);
				left: 0px;
				position: absolute;
				width: 100%;
				height: 3px;
				background-color: #000;
				&:first-child {
					top: 0px;
				}
				&:last-child {
					top: auto;
					bottom: 0px;
				}
			}
			&._active {
				span {
					transform: scale(0);
					&:first-child {
						transform: rotate(-45deg);
						top: calc(50% - 1.5px);
					}
					&:last-child {
						transform: rotate(45deg);
						bottom: calc(50% - 1.5px);
					}
				}
			}
		}
	}
	// .header__menu
	&__menu {
		padding: 38px 0px 0px 0px;
		@media (max-width:$md2+px){
			padding: 122px 0px 0px 0px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: rgba(255, 255, 255, 0.911);
			opacity: 0;
			visibility: hidden;
			transition: all .4s ease 0s;
			z-index: 4;
			&._active{
				opacity: 1;
				visibility: visible;
			}
			@media (max-width:830px){
				padding: 150px 0px 0px 0px;
				background-color: rgb(255, 255, 255);
			}
		}
	}
	// .header__list
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		li {
			@media (max-width:$md2+px){
				margin: 0px 0px 25px 0px;
			}
		}
		@media (max-width:$md2+px){
			flex-direction: column;
		}
	}
	// .header__link
	&__link {
		color: #333333;
		font-weight: 500;
		font-size: 16px;
		text-transform: uppercase;
		transition: all .3s ease 0s;
		@media (min-width: $md2+px) {
			&:hover{
				color:rgb(21, 99, 189);
			}
		}
		@media (max-width:1090px){
			font-size: 14px;
		}
		@media (max-width:$md2+px){
			color:rgb(0, 0, 0);
			@include adaptiv-font(20,17,1);
		}
	}
}



.info-header {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: rgba(51, 51, 51, 1);
	@media (max-width:$md2+px){
		flex: 1 1 auto;
	}
	@media (max-width:860px){
		margin: 20px 0px 0px 0px;
		align-items: center;
	}
	// .info-header__number
	&__number {
		font-size: 20px;
		font-weight: 700;
		color: rgba(51, 51, 51, 1);
		margin: 0px 0px 8px 0px;
		display: flex;
		align-items: center;
		&:before{
			margin: 0px 6px 0px 0px;
			content:'';
			height: 16px;
			width: 16px;
			background: url('../../img/icons/header/callsvg.svg') 0 0 no-repeat;
		}
	}
	// .info-header__email
	&__email {
		color: rgba(51, 51, 51, 1);
		font-size: 17px;
		font-weight: 500;
		display: flex;
		align-items: center;
		&:before{
			margin: 0px 6px 0px 0px;
			content:'';
			height: 12px;
			width: 16px;
			background: url('../../img/icons/header/email.svg') 0 0 no-repeat;
		}
	}
}

//====================================================================================================

