.pagging {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 0px 68px 0px;
	// .pagging__arrow
	&__arrow {
	}
	// .pagging__list
	&__list {
		display: flex;
		justify-content: center;
		margin: 0 -3px;
		li {
			margin: 0 3px;
		}
	}
	// .pagging__item
	&__item {
		height: 28px;
		width: 28px;
		display: flex;
		justify-content:center;
		align-items: center;
		font-size: 14px;
		font-weight: 700;
		color:#CFCFCF;
		border: 1px solid #CFCFCF;
		transition: all .2s ease 0s;
		@media (min-width: $md2+px) {
			&:hover{
				color: #87B0EE;
				border: 1px solid #87B0EE;	
			}
		}
		&._active {
			color: #87B0EE;
			border: 1px solid #87B0EE;
		}
	}
}
