//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1175;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$c1: #333333;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $c1;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
@import "certificate";
@import "news";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	padding: 156px 0px 0px 0px;
	
	
}

.breadcrumbs {
	padding: 25px 0 35px 0;
	&__title {
		padding: 23px 0px 0px 0px;
		font-weight: 900;
		font-size: 36px;
	}
    // .breadcrumbs__list
    &__list {
		display: flex;
		align-items: center;
		@media (max-width:500px){
			flex-wrap: wrap;
		}
		li {
			span {
				color: #7D7D7D;
				
			}
			&:last-child{
				display: flex;
				align-items: flex-end;
				padding: 0px 0px 0px 3px;
				@media (max-width:500px){
					padding: 10px 0px 0px 0px;
					flex: 1 1 100%;
				}
			}
		}
    }
    // .breadcrumbs__link
    &__link {
		color: #86AFEF;
		font-size: 15px;
		font-weight: 500;
    }
}

.title {
	@include adaptiv-font(36,28,1);
	font-weight: 900;
	color:#333333;
	text-align: center;
}
//===================================================================================================================================
.advantages {
	padding: 42px 0 71px 0;
	background: #F6F6F6;
	// .advantages__container
	&__container {
	}
	&__title {
		margin: 0px 0px 63px 0px;
	}
	// .advantages__row
	&__row {
		display: grid;
		grid-template-columns: repeat(4,1fr);
		grid-column-gap: 28px;
		@media (max-width:900px){
			grid-template-columns: repeat(2,1fr);
			grid-gap: 28px;
		}
		@media (max-width:450px){
			grid-template-columns: repeat(1,1fr);
			grid-gap: 34px;
		}
	}
	// .advantages__item
	&__item {
	}
}

.item-advantages {
	color: $c1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	// .item-advantages__img
	&__img {
		width: 98px;
		height: 98px;
		background-color: #fff;
		display: flex;
		justify-content:center;
		align-items: center;
		border-radius: 50%;
	}
	// .item-advantages__name
	&__name {
		flex: 1 1 auto;
		font-size: 22px;
		font-weight: 900;
		margin: 15px 0px 16px 0px;
	}
	// .item-advantages__descr
	&__descr {
		font-size: 17px;
		font-weight: 700;
		line-height: (25 / 17) * 100%;
	}
}


.item-news {
	padding: 27px 20px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
	color: $c1;
	transition: all .2s ease 0s;
	@media (min-width: $md2+px) {
        &:hover{
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.226);
        }
    }
    // .item-news__img
    &__img {
		width: 100%;
		img {
			width: 100%;
		}
    }
    // .item-news__date
    &__date {
		margin: 11px 0px 0px 0px;
		font-size: 14px;
		font-weight: 500;
    }
    // .item-news__name
    &__name {
		margin: 11px 0px 0px 0px;
		font-weight: 700;
		font-size: 18px;
		line-height: (27 / 18) * 100%;
    }
    // .item-news__descr
    &__descr {
		margin: 14px 0px 0px 0px;
		font-size: 16px;
		font-weight: 500;
		line-height: (17 / 16) * 100%;
    }
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
